@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}

#body{
    margin: 0;
    padding: 0;
}
#sobre-nosotros{
    color: white;
    padding: 4rem;
    margin: 0 auto 72px;
}

#TituloPrincipal{
    font-family: "Onest";
    font-weight: 600;
    font-size: 3.5rem;
    text-align: center;
}

p{
    text-align: center;
    font-size: 1rem;
    padding: 15px;
    font-family: "Onest";
}

#botones-secciones{
    display: flex;
    justify-content: center;
    margin-top: -160px;
}
#botones-secciones button{
    margin: 0 5px;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}


footer {
    position: absolute;
    bottom: 0;
    width: 98%;
}